<%= content_for :head do %>
  <%= javascript_include_tag 'deadsea.js' %>
  <%= javascript_include_tag 'modestmaps.min.js' %>
  <%= javascript_include_tag 'wax.mm.min.js' %>
<% end %>

<h1>How much of NZ is native forest?</h1>

<div id='ts-embed-1316073824233-script'>
  <%= javascript_include_tag 'ts-land-use' %>
</div>

<p class="alert-message info">Hover over the changed areas (outlined in black) for more information</p>

<h3>Land use types by region and year</h3>
<p>
  This table shows the land area for each land use type in each region. It shows the changes from 1990 to 2008.
</p>

<p>
  <%= label_tag :land_type, :style => 'width: auto;' do %>
    Show only:&nbsp;
  <% end %>
  <%= select_tag :land_type, options_for_select(['All', 'Croplands', 'Forests', 'Grasslands', 'Other', 'Settlements', 'Wetlands'], :include_blank => 'All') %>
</p>

<table id="land_use" class="zebra-striped">
  <thead>
  <tr>
    <th>Region</th>
    <th class="numeric">1990 (hectares)</th>
    <th class="numeric">2008 (hectares)</th>
    <th class="numeric">Difference</th>
  </tr>
  </thead>
  <tbody>
  <% @lands.each do |previous_land, land| %>
    <tr class="<%= land_use_class(land) %>">
      <td class="">
        <div class="region_short_name" title="<%= land.region.name %>">
          <%= show_region_link land.region %> - <%= link_to land.land_type, land_type_path(land.land_type.parameterize('_')) %>
        </div>
      </td>
      <td class="numeric">
        <%= number_with_precision(previous_land.hectares, :precision => 0, :delimiter => ',') if previous_land %>
      </td>
      <td class="numeric">
        <%= number_with_precision(land.hectares, :precision => 0, :delimiter => ',') if land %>
      </td>
      <td class="numeric">
        <%= number_with_precision(land.hectares - previous_land.hectares, :precision => 0, :delimiter => ',') if previous_land %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  $('#land_type').change(function(){
    if(this.value == 'All') {
      $('tr.odd').removeClass('odd');
      $('#land_use').addClass('zebra-striped');
      $('tr:hidden').show();
    } else {
      $('#land_use').removeClass('zebra-striped');
      $('tr.odd').removeClass('odd');
      var selector = 'tbody tr.' + this.value.toLowerCase();
      $('tbody tr:visible').hide()
      $(selector).show();
      $('#land_use tbody tr:visible:even').addClass('odd')
    }
  });
<% end %>
