<h1><%= @region.name %></h1>

<dl>
<% unless @region.populations.empty? %>
  <dt>Population (<%= @region.populations.last.year %>)</dt>
  <dd><%= number_with_delimiter(@region.populations.last.number) %></dd>
<% end %>
  <dt>Land Area (km2)</dt>
  <dd><%= number_with_delimiter(@region.area.to_i) %></dd>
<% if @regional_council %>
  <dt>Regional council</dt>
  <dd><%= link_to @regional_council.name, @regional_council.website %></dd>
<% end %>
</dl>

<h2>
  Land
</h2>

<p>
  <% if @forests.present? %>
    There were <%= number_with_delimiter @forests.last.hectares.round.to_i %> hectares of <%= @forests.last.land_type %> in <%= @region.name %> as of <%= @forests.last.year %>.
    <% if @forests.size > 1 %>
      <% difference = @forests.last.hectares - @forests.first.hectares %>
      This is <%= number_with_precision(difference.abs, :precision => 0, :delimiter => ',') %> hectares <%= difference < 0 ? 'less' : 'more' %> compared to <%= @forests.first.year %>.
    <% end %>
  <% end %>
</p>

<% if @lands.present? %>
  <p>The most common type of land in <%= @region.name %> are <%= @lands.first.land_type.pluralize %>.
  <%= link_to 'More &raquo;'.html_safe, land_url, :class => 'btn primary' %>
  </p>

  <div class="row">
    <table class="span10 column">
      <thead>
        <tr>
          <th>Land use type (<%= @lands.first.year %>)</th>
          <th class="numeric">% of region</th>
        </tr>
      </thead>
      <tbody>
        <% @lands.each do |land| %>
          <tr>
            <td><%= land.land_type %></td>
            <td class="numeric"><%= number_to_percentage (land.hectares / @region.area), :precision => 1  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <p>
  </p>
<% end %>



<h2>Waste</h2>

<p>
  In <%= @region.tonnages.last.year %>, <%= 'an estimated' if @region.tonnages.last.estimate %>
  <%= number_to_human(@region.tonnages.last.tonnes).downcase %> tonnes of waste was dumped in landfills in the region.
  <%= link_to 'More &raquo;'.html_safe, waste_url, :class => 'btn primary' %>
</p>


<h2>Other sources</h2>
<% if @regional_council %>
  <p>
    Much, much more wonderful information and data can be found at the <%= link_to @region.name + ' Region wikipedia page', 'http://en.wikipedia.org/wiki/' + @region.name + ' Region' %>
  </p>
<% end %>

