<h1><%= @region.name %></h1>

<dl>
<% unless @region.populations.empty? %>
  <dt>Population (<%= @region.populations.last.year %>)</dt>
  <dd><%= number_with_delimiter(@region.populations.last.number) %></dd>
<% end %>
  <dt>Land Area (km2)</dt>
  <dd><%= number_with_delimiter(@region.area.to_i) %></dd>
<% if @regional_council %>
  <dt>Regional council</dt>
  <dd><%= link_to @regional_council.name, @regional_council.website %></dd>
<% end %>
</dl>

<h2>Waste per area</h2>
<div class="row">
  <div id="map" style="height: 400px;" class="span10 column"></div>
  <div class="span6 column">
    <p>
      <%= number_with_precision(@tonnage.tonnes / @region.area, :delimiter => ',') %> tonnes per 1 km<sup>2</sup> of <%= link_to_function 'total region area', "scale(1)" %>
    </p>
    <% @lands.each do |land| %>
      <p>
      <%= number_with_precision(@tonnage.tonnes / land.hectares * 100, :delimiter => ',') %> tonnes per 1 km<sup>2</sup> of <%= link_to_function land.land_type, "scale(#{number_with_precision(land.hectares / @region.area / 100, :precision => 5)})" %>
      </p>
    <% end %>
    <p>1 km<sup>2</sup> = 100 hectares</p>
  </div>
</div>


<%= javascript_tag do %>
  var tonnage = <%= raw @tonnage.to_polymaps_json %>;

  var tonnes = {}
  for (var t in tonnage) {
    tonnes[regc[t]] = tonnage[t];
  }
<% end %>
<%= javascript_include_tag 'density.js' %>

<h2>Land</h2>

<p>
  <% if @forests.present? %>
    There were <%= number_with_delimiter @forests.last.hectares.round.to_i %> hectares of <%= @forests.last.land_type %> in <%= @region.name %> as of <%= @forests.last.year %>.
    <% if @forests.size > 1 %>
      <% difference = @forests.last.hectares - @forests.first.hectares %>
      This is <%= number_with_precision(difference.abs, :precision => 0, :delimiter => ',') %> hectares <%= difference < 0 ? 'less' : 'more' %> compared to <%= @forests.first.year %>.
    <% end %>
  <% end %>
</p>

<% if @lands.present? %>
  <p>The most common type of land in <%= @region.name %> are <strong><%= @lands.first.land_type.pluralize %></strong>.
  <%= link_to 'Compare with other regions &raquo;'.html_safe, land_url, :class => 'btn primary' %>
  </p>

  <div class="row">
    <table class="span10 column">
      <thead>
        <tr>
          <th>Land use type (<%= @lands.first.year %>)</th>
          <th class="numeric">Hectares</th>
          <th class="numeric">% of region</th>
        </tr>
      </thead>
      <tbody>
        <% @lands.each do |land| %>
          <tr>
            <td><%= land.land_type %></td>
            <td class="numeric"><%= number_with_precision(land.hectares, :delimiter => ',', :precision => 1) %></td>
            <td class="numeric"><%= number_to_percentage (land.hectares / @region.area), :precision => 1  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <p class="alert-message warning">No land use data available</p>
<% end %>



<h2>Waste</h2>

<p>
  In <%= @tonnage.year %>, <%= 'an estimated' if @tonnage.estimate %>
  <%= number_to_human(@tonnage.tonnes).downcase %> tonnes of waste was dumped in landfills in the region.
  <%= link_to 'Compare with other regions &raquo;'.html_safe, waste_url, :class => 'btn primary' %>
</p>


<h2>Other sources</h2>
<% if @regional_council %>
  <p>
    Much, much more wonderful information and data can be found at the <%= link_to @region.name + ' Region wikipedia page', 'http://en.wikipedia.org/wiki/' + @region.name + ' Region' %>
  </p>
<% end %>

