<h1><%= @region.name %></h1>

<dl>
<% unless @region.populations.empty? %>
  <dt>Population (<%= @region.populations.last.year %>)</dt>
  <dd><%= number_with_delimiter(@region.populations.last.number) %></dd>
<% end %>
  <dt>Land Area (km2)</dt>
  <dd><%= number_with_delimiter(@region.area.to_i) %></dd>
<% if @tonnage %>
  <dt><%= @tonnage.year %> landfill (tonnes):</dt>
  <dd><%= number_with_delimiter @tonnage.tonnes %></dd>
<% end %>
<% if @regional_council %>
  <dt>Regional council</dt>
  <dd><%= link_to @regional_council.name, @regional_council.website %></dd>
<% end %>
</dl>

<h2>Land</h2>

<p>
  <% if @forests.present? %>
    There were <%= number_with_delimiter @forests.last.hectares.round.to_i %> hectares of <%= @forests.last.land_type %> in <%= @region.name %> as of <%= @forests.last.year %>.
    <% if @forests.size > 1 %>
      <% difference = @forests.last.hectares - @forests.first.hectares %>
      This is <%= number_with_precision(difference.abs, :precision => 0, :delimiter => ',') %> hectares <%= difference < 0 ? 'less' : 'more' %> compared to <%= @forests.first.year %>.
    <% end %>
  <% end %>
</p>

<% if @lands.present? %>
  <p>The most common type of land in <%= @region.name %> are <strong><%= @lands.first.land_type.pluralize %></strong>.
  <%= link_to 'Compare with other regions &raquo;'.html_safe, land_path, :class => 'btn primary' %>
  </p>

  <div class="row">
    <table class="span8 column">
      <thead>
        <tr>
          <th>Land use type (<%= @lands.first.year %>)</th>
          <th class="numeric">Hectares</th>
          <th class="numeric">% of region</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to_function @region.name, "scale(1); densityInfo(0)" %>
          </td>
          <td><%= @region.area %> km2</td>
          <td></td>
        <tr>
        <% @lands.each do |land| %>
          <tr>
            <td>
        <%= link_to_function land.land_type, "scale(#{number_with_precision(land.hectares / @region.area / 100, :precision => 5)}); densityInfo(#{land.id})" %>
</td>
            <td class="numeric"><%= number_with_precision(land.hectares, :delimiter => ',', :precision => 1) %></td>
            <td class="numeric"><%= number_to_percentage (land.hectares / @region.area), :precision => 1  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id="map" style="height: 500px;" class="span8 column"></div>
  </div>

<% else %>
  <p class="alert-message warning">No land use data available</p>
<% end %>



<h2>Waste</h2>

<p>
  In <%= @tonnage.year %>, <%= 'an estimated' if @tonnage.estimate %>
  <code><%= number_to_human(@tonnage.tonnes).downcase %> tonnes</code> of waste was dumped in landfills in the region.
  <%= link_to 'Compare with other regions &raquo;'.html_safe, waste_path, :class => 'btn primary' %>
</p>

      <div class="density-info" id="density-0">
        <p>
        <%= @region.name %> had <code><%= number_with_precision(kg_per_meter(@tonnage.tonnes, @region.area), :precision => 1) %> kgs per meter of land</code> 
        in the year <%= @tonnage.year %>
        </p>
        <p>
        Alternatively, that's <%= number_with_precision(@tonnage.tonnes / @region.area, :delimiter => ',', :precision => 0) %> tonnes per 1 km<sup>2</sup> of <%= 'total region area' %>
        </p>
      </div>
      <% @lands.each do |land| %>
        <% density = kg_per_meter(@tonnage.tonnes, land.square_kms) %>
        <div class="density-info" id="density-<%=land.id%>" style="display:none">
          <p>
          <%= rubbish_phrase(density) %> the <%= land.land_type.pluralize %> of the region,
          we would find <code>a <%= number_with_precision(density, :precision => 1) %> kg block of rubbish every meter</code>.
          </p>
          <p>
          Alternatively, that's <%= number_with_precision(@tonnage.tonnes / land.hectares * 100, :delimiter => ',', :precision => 0) %> tonnes per 1 km<sup>2</sup> 
          </p>
        </div>
      <% end %>



<h2>Other sources</h2>
<% if @regional_council %>
  <p>
    Much, much more wonderful information and data can be found at the <%= link_to @region.name + ' Region wikipedia page', 'http://en.wikipedia.org/wiki/' + @region.name + ' Region' %>
  </p>
<% end %>


<%= javascript_tag do %>
  var tonnage = <%= raw @tonnage.to_polymaps_json %>;

  var tonnes = {}
  for (var t in tonnage) {
    tonnes[regc[t]] = tonnage[t];
  }
<% end %>
<%= javascript_include_tag 'density.js' %>

