<!DOCTYPE html>
<html>
<head>
  <title>Recycle</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'd3/d3.min.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
